.header-style {
  background-color: #1976d2;
  padding: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.blog-icon {
  font-size: 1.5em;
  color: white;
  margin: 0em 1em;
}

.header-style h1 {
  color: white;
  text-align: center;
  font-weight: 500;
}
